In [260]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import box, Point, Polygon
import os 
from pathlib import Path
import re

### Load Data

In [261]:
# get path to project root directory
project_root = Path.cwd().parents[0]

# build path to input folder
data_external = project_root/"data"/"external"

# build path to output folder
data_processed = project_root/"data"/"processed"

In [262]:
dtype_map = {
    "lat": "float64",
    "lon": "float64",
    "site_id": "string"
}

# load idp camps into a pandas dataframe
camps_df = pd.read_csv(data_external/"allEthiopiaSitesData_allTime_20231027.csv",low_memory = False)
camps_df.head(2)

,Unnamed: 0,SiteID,SiteName,SurveyCount,minSurveyDate,maxSurveyDate,minLong,maxLong,minLat,maxLat,...,R33_SiteName,R33_IsSiteOpen,R33_SiteStarted,R33_SiteType,R33_TotalHH,R33_TotIndivd,R33_SiteOpenDate,R33_SurveyDate,R33_DispReason,R33_DispReasonOther
0,0,AA101,Gotara,8,2018-05-09,2019-07-13,38.756062,38.756316,8.980032,8.980559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AF118,Andido,12,2018-04-30,2020-06-03,40.321054,40.324781,9.398847,9.401627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Quick Recon of Dataset

In [263]:
# define a new dataframe to contain important metadata about null values 
summary = pd.DataFrame({
    "dtype": camps_df.dtypes,
    "non_null": camps_df.count(),
    "nulls": camps_df.isna().sum(),
    "pct_null": camps_df.isna().mean() * 100,
})

# sort the features of the table by null values
summary.sort_values("pct_null", ascending=True)

                       dtype  non_null  nulls    pct_null
Unnamed: 0             int64      4882      0    0.000000
SiteID                object      4882      0    0.000000
SiteName              object      4882      0    0.000000
SurveyCount            int64      4882      0    0.000000
minSurveyDate         object      4882      0    0.000000
...                      ...       ...    ...         ...
R19_DispReasonOther   object        26   4856   99.467431
R18_DispReasonOther   object        22   4860   99.549365
R32_DispReasonOther   object        15   4867   99.692749
R31_DispReasonOther   object        15   4867   99.692749
R33_DispReasonOther  float64         0   4882  100.000000

[266 rows x 4 columns]

In [264]:
# get lists of numeric and categorical column names
num_cols = camps_df.select_dtypes(include="number").columns
cat_cols = camps_df.select_dtypes(exclude="number").columns

# print the length of the column names
print(len(num_cols), len(cat_cols))

65 201

In [265]:
# generate summary stats of the 
camps_df[num_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,4882.0,2440.500000,1409.456337,0.000000,1220.250000,2440.500000,3660.750000,4881.000000
SurveyCount,4882.0,7.114093,6.834800,1.000000,2.000000,5.000000,10.000000,23.000000
minLong,4882.0,39.001202,2.285182,33.221964,37.546877,38.873356,40.101531,47.479735
maxLong,4882.0,39.007205,2.286309,33.221964,37.548609,38.884107,40.104843,47.479735
minLat,4882.0,9.229325,2.994575,3.455774,6.789391,9.299709,11.321115,14.547139
...,...,...,...,...,...,...,...,...
R32_TotalHH,2472.0,234.495146,484.530993,20.000000,49.000000,108.000000,240.000000,10045.000000
R32_TotIndivd,2472.0,1271.543285,2765.324807,23.000000,244.000000,551.000000,1320.250000,60270.000000
R33_TotalHH,643.0,389.530327,657.652132,20.000000,70.000000,138.000000,356.000000,5661.000000
R33_TotIndivd,643.0,1589.110420,2828.550711,32.000000,218.500000,478.000000,1402.000000,21764.000000
R33_DispReasonOther,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
cat_summary = pd.DataFrame({
    "unique_values": camps_df[cat_cols].nunique(),
    "top_value": camps_df[cat_cols].mode().iloc[0],
})

cat_summary.sort_values("unique_values", ascending=False)

                unique_values   top_value
SiteID                   4882       AA101
SiteName                 4487       Selam
R32_SiteName             2376  Addis Alem
R31_SiteName             2112   Kebele 02
R29_SiteName             2082  Addis Alem
...                       ...         ...
R30_IsSiteOpen              2         Yes
R31_IsSiteOpen              2         Yes
R32_IsSiteOpen              2         Yes
R33_IsSiteOpen              2         Yes
R33_DispReason              2    Conflict

[201 rows x 2 columns]

In [267]:
# set pandas display options to view every row
pd.set_option("display.max_rows", None)

# view the column names of the geodataframe
pd.DataFrame({
    "column": camps_df.columns,
    "dtype": camps_df.dtypes.values
})

                     column    dtype
0                Unnamed: 0    int64
1                    SiteID   object
2                  SiteName   object
3               SurveyCount    int64
4             minSurveyDate   object
5             maxSurveyDate   object
6                   minLong  float64
7                   maxLong  float64
8                    minLat  float64
9                    maxLat  float64
10                 meanLong  float64
11                  meanLat  float64
12          DispReasonCount    int64
13     DispReasonMostRecent   object
14           DispReasonList   object
15            SiteTypeCount    int64
16       SiteTypeMostRecent   object
17             SiteTypeList   object
18                    minHH    int64
19                    maxHH    int64
20      minTotalIndividuals    int64
21      maxTotalIndividuals    int64
22              minOpenDate   object
23              maxOpenDate   object
24         SiteOpenMonthNum    int64
25            SiteOpenMonth   object
26             SiteOpenYear    int64
27       SurveyDateMonthNum    int64
28          SurveyDateMonth   object
29           SurveyDateYear    int64
30         StandardizedType   object
31   StandardizedDispReason   object
32               RegionCode   object
33               RegionName   object
34                  DateBin   object
35               SiteOpenMY   object
36             R11_SiteName   object
37           R11_IsSiteOpen   object
38          R11_SiteStarted   object
39             R11_SiteType   object
40              R11_TotalHH  float64
41            R11_TotIndivd  float64
42         R11_SiteOpenDate   object
43           R11_SurveyDate   object
44           R11_DispReason   object
45      R11_DispReasonOther   object
46             R12_SiteName   object
47           R12_IsSiteOpen   object
48          R12_SiteStarted   object
49             R12_SiteType   object
50              R12_TotalHH  float64
51            R12_TotIndivd  float64
52         R12_SiteOpenDate   object
53           R12_SurveyDate   object
54           R12_DispReason   object
55      R12_DispReasonOther   object
56             R13_SiteName   object
57           R13_IsSiteOpen   object
58          R13_SiteStarted   object
59             R13_SiteType   object
60              R13_TotalHH  float64
61            R13_TotIndivd  float64
62         R13_SiteOpenDate   object
63           R13_SurveyDate   object
64           R13_DispReason   object
65      R13_DispReasonOther   object
66             R14_SiteName   object
67           R14_IsSiteOpen   object
68          R14_SiteStarted   object
69             R14_SiteType   object
70              R14_TotalHH  float64
71            R14_TotIndivd  float64
72         R14_SiteOpenDate   object
73           R14_SurveyDate   object
74           R14_DispReason   object
75      R14_DispReasonOther   object
76             R15_SiteName   object
77           R15_IsSiteOpen   object
78          R15_SiteStarted   object
79             R15_SiteType   object
80              R15_TotalHH  float64
81            R15_TotIndivd  float64
82         R15_SiteOpenDate   object
83           R15_SurveyDate   object
84           R15_DispReason   object
85      R15_DispReasonOther   object
86             R16_SiteName   object
87           R16_IsSiteOpen   object
88          R16_SiteStarted   object
89             R16_SiteType   object
90              R16_TotalHH  float64
91            R16_TotIndivd  float64
92         R16_SiteOpenDate   object
93           R16_SurveyDate   object
94           R16_DispReason   object
95      R16_DispReasonOther   object
96             R17_SiteName   object
97           R17_IsSiteOpen   object
98          R17_SiteStarted   object
99             R17_SiteType   object
100             R17_TotalHH  float64
101           R17_TotIndivd  float64
102        R17_SiteOpenDate   object
103          R17_SurveyDate   object
104          R17_DispReason   object
105     R17_DispReasonOther   object
106            R18_SiteName   object
107          R18_IsSiteOpen   object
108         R18_SiteStarted   object
109            R18_SiteType   object
110             R18_TotalHH  float64
111           R18_TotIndivd  float64
112        R18_SiteOpenDate   object
113          R18_SurveyDate   object
114          R18_DispReason   object
115     R18_DispReasonOther   object
116            R19_SiteName   object
117          R19_IsSiteOpen   object
118         R19_SiteStarted   object
119            R19_SiteType   object
120             R19_TotalHH  float64
121           R19_TotIndivd  float64
122        R19_SiteOpenDate   object
123          R19_SurveyDate   object
124          R19_DispReason   object
125     R19_DispReasonOther   object
126            R20_SiteName   object
127          R20_IsSiteOpen   object
128         R20_SiteStarted   object
129            R20_SiteType   object
130             R20_TotalHH  float64
131           R20_TotIndivd  float64
132        R20_SiteOpenDate   object
133          R20_SurveyDate   object
134          R20_DispReason   object
135     R20_DispReasonOther   object
136            R21_SiteName   object
137          R21_IsSiteOpen   object
138         R21_SiteStarted   object
139            R21_SiteType   object
140             R21_TotalHH  float64
141           R21_TotIndivd  float64
142        R21_SiteOpenDate   object
143          R21_SurveyDate   object
144          R21_DispReason   object
145     R21_DispReasonOther   object
146            R22_SiteName   object
147          R22_IsSiteOpen   object
148         R22_SiteStarted   object
149            R22_SiteType   object
150             R22_TotalHH  float64
151           R22_TotIndivd  float64
152        R22_SiteOpenDate   object
153          R22_SurveyDate   object
154          R22_DispReason   object
155     R22_DispReasonOther   object
156            R23_SiteName   object
157          R23_IsSiteOpen   object
158         R23_SiteStarted   object
159            R23_SiteType   object
160             R23_TotalHH  float64
161           R23_TotIndivd  float64
162        R23_SiteOpenDate   object
163          R23_SurveyDate   object
164          R23_DispReason   object
165     R23_DispReasonOther   object
166            R24_SiteName   object
167          R24_IsSiteOpen   object
168         R24_SiteStarted   object
169            R24_SiteType   object
170             R24_TotalHH  float64
171           R24_TotIndivd  float64
172        R24_SiteOpenDate   object
173          R24_SurveyDate   object
174          R24_DispReason   object
175     R24_DispReasonOther   object
176            R25_SiteName   object
177          R25_IsSiteOpen   object
178         R25_SiteStarted   object
179            R25_SiteType   object
180             R25_TotalHH  float64
181           R25_TotIndivd  float64
182        R25_SiteOpenDate   object
183          R25_SurveyDate   object
184          R25_DispReason   object
185     R25_DispReasonOther   object
186            R26_SiteName   object
187          R26_IsSiteOpen   object
188         R26_SiteStarted   object
189            R26_SiteType   object
190             R26_TotalHH  float64
191           R26_TotIndivd  float64
192        R26_SiteOpenDate   object
193          R26_SurveyDate   object
194          R26_DispReason   object
195     R26_DispReasonOther   object
196            R27_SiteName   object
197          R27_IsSiteOpen   object
198         R27_SiteStarted   object
199            R27_SiteType   object
200             R27_TotalHH  float64
201           R27_TotIndivd  float64
202        R27_SiteOpenDate   object
203          R27_SurveyDate   object
204          R27_DispReason   object
205     R27_DispReasonOther   object
206            R28_SiteName   object
207          R28_IsSiteOpen   object
208         R28_SiteStarted   object
209            R28_SiteType   object
210             R28_TotalHH  float64
211           R28_TotIndivd  float64
212        R28_SiteOpenDate   object
213          R28_SurveyDate   object
214          R28_DispReason   object
215     R28_DispReasonOther   object
216            R29_SiteName   object
217          R29_IsSiteOpen   object
218         R29_SiteStarted   object
219            R29_SiteType   object
220             R29_TotalHH  float64
221           R29_TotIndivd  float64
222        R29_SiteOpenDate   object
223          R29_SurveyDate   object
224          R29_DispReason   object
225     R29_DispReasonOther   object
226            R30_SiteName   object
227          R30_IsSiteOpen   object
228         R30_SiteStarted   object
229            R30_SiteType   object
230             R30_TotalHH  float64
231           R30_TotIndivd  float64
232        R30_SiteOpenDate   object
233          R30_SurveyDate   object
234          R30_DispReason   object
235     R30_DispReasonOther   object
236            R31_SiteName   object
237          R31_IsSiteOpen   object
238         R31_SiteStarted   object
239            R31_SiteType   object
240             R31_TotalHH  float64
241           R31_TotIndivd  float64
242        R31_SiteOpenDate   object
243          R31_SurveyDate   object
244          R31_DispReason   object
245     R31_DispReasonOther   object
246            R32_SiteName   object
247          R32_IsSiteOpen   object
248         R32_SiteStarted   object
249            R32_SiteType   object
250             R32_TotalHH  float64
251           R32_TotIndivd  float64
252        R32_SiteOpenDate   object
253          R32_SurveyDate   object
254          R32_DispReason   object
255     R32_DispReasonOther   object
256            R33_SiteName   object
257          R33_IsSiteOpen   object
258         R33_SiteStarted   object
259            R33_SiteType   object
260             R33_TotalHH  float64
261           R33_TotIndivd  float64
262        R33_SiteOpenDate   object
263          R33_SurveyDate   object
264          R33_DispReason   object
265     R33_DispReasonOther  float64

In [268]:
# reset the display options
pd.reset_option("display.max_rows")

### Reshape the dataset into LONG form for time series Animation

In [269]:
# define the important base cols
base_columns = ["SiteID", "SiteName", "RegionName", "meanLat", "meanLong", "minOpenDate", "maxOpenDate","maxSurveyDate"]
base_columns = [c for c in base_columns if c in camps_df.columns]

In [270]:
# use regular expression to get get a list of survey data columns
survey_pattern = re.compile(r"^(R\d{2})_") 
survey_prefixes = sorted({survey_pattern.match(c).group(1) for c in camps_df.columns if survey_pattern.match(c)})
survey_suffixes = ["SurveyDate", "TotIndivd", "TotalHH", "IsSiteOpen", "SiteType", "DispReason"]

survey_columns = []
for sp in survey_prefixes:
    for ss in survey_suffixes:
        col = f"{sp}_{ss}"
        if col in camps_df.columns:
            survey_columns.append(col)

print(survey_columns)

['R11_SurveyDate', 'R11_TotIndivd', 'R11_TotalHH', 'R11_IsSiteOpen', 'R11_SiteType', 'R11_DispReason', 'R12_SurveyDate', 'R12_TotIndivd', 'R12_TotalHH', 'R12_IsSiteOpen', 'R12_SiteType', 'R12_DispReason', 'R13_SurveyDate', 'R13_TotIndivd', 'R13_TotalHH', 'R13_IsSiteOpen', 'R13_SiteType', 'R13_DispReason', 'R14_SurveyDate', 'R14_TotIndivd', 'R14_TotalHH', 'R14_IsSiteOpen', 'R14_SiteType', 'R14_DispReason', 'R15_SurveyDate', 'R15_TotIndivd', 'R15_TotalHH', 'R15_IsSiteOpen', 'R15_SiteType', 'R15_DispReason', 'R16_SurveyDate', 'R16_TotIndivd', 'R16_TotalHH', 'R16_IsSiteOpen', 'R16_SiteType', 'R16_DispReason', 'R17_SurveyDate', 'R17_TotIndivd', 'R17_TotalHH', 'R17_IsSiteOpen', 'R17_SiteType', 'R17_DispReason', 'R18_SurveyDate', 'R18_TotIndivd', 'R18_TotalHH', 'R18_IsSiteOpen', 'R18_SiteType', 'R18_DispReason', 'R19_SurveyDate', 'R19_TotIndivd', 'R19_TotalHH', 'R19_IsSiteOpen', 'R19_SiteType', 'R19_DispReason', 'R20_SurveyDate', 'R20_TotIndivd', 'R20_TotalHH', 'R20_IsSiteOpen', 'R20_SiteType', 'R20_DispReason', 'R21_SurveyDate', 'R21_TotIndivd', 'R21_TotalHH', 'R21_IsSiteOpen', 'R21_SiteType', 'R21_DispReason', 'R22_SurveyDate', 'R22_TotIndivd', 'R22_TotalHH', 'R22_IsSiteOpen', 'R22_SiteType', 'R22_DispReason', 'R23_SurveyDate', 'R23_TotIndivd', 'R23_TotalHH', 'R23_IsSiteOpen', 'R23_SiteType', 'R23_DispReason', 'R24_SurveyDate', 'R24_TotIndivd', 'R24_TotalHH', 'R24_IsSiteOpen', 'R24_SiteType', 'R24_DispReason', 'R25_SurveyDate', 'R25_TotIndivd', 'R25_TotalHH', 'R25_IsSiteOpen', 'R25_SiteType', 'R25_DispReason', 'R26_SurveyDate', 'R26_TotIndivd', 'R26_TotalHH', 'R26_IsSiteOpen', 'R26_SiteType', 'R26_DispReason', 'R27_SurveyDate', 'R27_TotIndivd', 'R27_TotalHH', 'R27_IsSiteOpen', 'R27_SiteType', 'R27_DispReason', 'R28_SurveyDate', 'R28_TotIndivd', 'R28_TotalHH', 'R28_IsSiteOpen', 'R28_SiteType', 'R28_DispReason', 'R29_SurveyDate', 'R29_TotIndivd', 'R29_TotalHH', 'R29_IsSiteOpen', 'R29_SiteType', 'R29_DispReason', 'R30_SurveyDate', 'R30_TotIndivd', 'R30_TotalHH', 'R30_IsSiteOpen', 'R30_SiteType', 'R30_DispReason', 'R31_SurveyDate', 'R31_TotIndivd', 'R31_TotalHH', 'R31_IsSiteOpen', 'R31_SiteType', 'R31_DispReason', 'R32_SurveyDate', 'R32_TotIndivd', 'R32_TotalHH', 'R32_IsSiteOpen', 'R32_SiteType', 'R32_DispReason', 'R33_SurveyDate', 'R33_TotIndivd', 'R33_TotalHH', 'R33_IsSiteOpen', 'R33_SiteType', 'R33_DispReason']

In [271]:
# create the long table 
long = camps_df[base_columns + survey_columns].copy()

In [272]:
melted = long.melt(
    id_vars=base_columns,
    value_vars=survey_columns,
    var_name="survey_field",
    value_name="value"
)

melted

,SiteID,SiteName,RegionName,meanLat,meanLong,minOpenDate,maxOpenDate,maxSurveyDate,survey_field,value
0,AA101,Gotara,Addis Ababa,8.980229,38.756166,2017-09-22 00:00:00.000,2017-09-22,2019-07-13,R11_SurveyDate,2018-05-09 00:00:00
1,AF118,Andido,Afar,9.400856,40.323826,1900-01-09 09:37:00.118,2015-09-30,2020-06-03,R11_SurveyDate,2018-04-30 00:00:00
2,AF128,Bada Admorug,Afar,14.519210,40.116068,2016-06-10 00:00:00.000,2016-06-10,2023-08-05,R11_SurveyDate,2018-04-25 00:00:00
3,AF130,Gera,Afar,12.059997,41.925306,2015-01-20 00:00:00.000,2015-01-20,2023-08-30,R11_SurveyDate,2018-05-08 00:00:00
4,AF131d,Sodomta Drought,Afar,12.823153,40.989297,2014-04-21 00:00:00.000,2014-04-21,2021-08-24,R11_SurveyDate,2018-04-23 00:00:00
...,...,...,...,...,...,...,...,...,...,...
673711,TG1095,Laelay Adi Gebaro,Tigray,14.141199,38.177646,2020-12-31,2020-12-31,2023-09-02,R33_DispReason,NaN
673712,TG1096,May Seye,Tigray,14.108307,38.138678,2020-12-31,2020-12-31,2023-09-02,R33_DispReason,NaN
673713,TG1086,Simret,Tigray,14.224869,38.852089,2023-07-02,2023-07-02,2023-09-02,R33_DispReason,NaN
673714,TG1097,Geter Zeban Gedena,Tigray,14.326730,37.889691,2023-08-25,2023-08-25,2023-09-02,R33_DispReason,NaN
673715,AM1087,Shiro meda camp,Amhara,10.967231,36.494536,2023-08-10,2023-08-10,2023-08-13,R33_DispReason,NaN

In [273]:
# survey_field like "R11_TotIndivd" -> survey="R11", field="TotIndivd"
melted[["survey", "field"]] = melted["survey_field"].str.split("_", n=1, expand=True)
melted = melted.drop(columns=["survey_field"])
melted

,SiteID,SiteName,RegionName,meanLat,meanLong,minOpenDate,maxOpenDate,maxSurveyDate,value,survey,field
0,AA101,Gotara,Addis Ababa,8.980229,38.756166,2017-09-22 00:00:00.000,2017-09-22,2019-07-13,2018-05-09 00:00:00,R11,SurveyDate
1,AF118,Andido,Afar,9.400856,40.323826,1900-01-09 09:37:00.118,2015-09-30,2020-06-03,2018-04-30 00:00:00,R11,SurveyDate
2,AF128,Bada Admorug,Afar,14.519210,40.116068,2016-06-10 00:00:00.000,2016-06-10,2023-08-05,2018-04-25 00:00:00,R11,SurveyDate
3,AF130,Gera,Afar,12.059997,41.925306,2015-01-20 00:00:00.000,2015-01-20,2023-08-30,2018-05-08 00:00:00,R11,SurveyDate
4,AF131d,Sodomta Drought,Afar,12.823153,40.989297,2014-04-21 00:00:00.000,2014-04-21,2021-08-24,2018-04-23 00:00:00,R11,SurveyDate
...,...,...,...,...,...,...,...,...,...,...,...
673711,TG1095,Laelay Adi Gebaro,Tigray,14.141199,38.177646,2020-12-31,2020-12-31,2023-09-02,NaN,R33,DispReason
673712,TG1096,May Seye,Tigray,14.108307,38.138678,2020-12-31,2020-12-31,2023-09-02,NaN,R33,DispReason
673713,TG1086,Simret,Tigray,14.224869,38.852089,2023-07-02,2023-07-02,2023-09-02,NaN,R33,DispReason
673714,TG1097,Geter Zeban Gedena,Tigray,14.326730,37.889691,2023-08-25,2023-08-25,2023-09-02,NaN,R33,DispReason
673715,AM1087,Shiro meda camp,Amhara,10.967231,36.494536,2023-08-10,2023-08-10,2023-08-13,NaN,R33,DispReason

In [274]:
# pivot fields into columns using the fields column
tidy = melted.pivot_table(
    index=base_columns + ["survey"],
    columns="field",
    values="value",
    aggfunc="first"
).reset_index()

In [275]:
# Rename lat/lon for clarity
if "meanLat" in tidy.columns: tidy = tidy.rename(columns={"meanLat": "lat"})
if "meanLong" in tidy.columns: tidy = tidy.rename(columns={"meanLong": "lon"})

# Parse dates (handles messy strings reasonably; unparseable -> NaT)
if "SurveyDate" in tidy.columns:
    tidy["survey_date"] = pd.to_datetime(tidy["SurveyDate"], errors="coerce")
    tidy = tidy.drop(columns=["SurveyDate"])


tidy['min_open_date'] = pd.to_datetime(tidy["minOpenDate"], errors = "coerce")
tidy['max_open_date'] = pd.to_datetime(tidy['maxOpenDate'], errors = "coerce")
tidy["OpenDate"] = tidy["min_open_date"].combine_first(tidy["max_open_date"])
tidy = tidy.drop(columns = ['minOpenDate', 'maxOpenDate','min_open_date', 'max_open_date'])


if "maxSurveyDate" in tidy.columns:
    tidy['CloseDate'] = pd.to_datetime(tidy["maxSurveyDate"], errors = "coerce")
    tidy = tidy.drop(columns = ['maxSurveyDate'])    

# Numeric population + households
for col in ["TotIndivd", "TotalHH"]:
    if col in tidy.columns:
        tidy[col] = pd.to_numeric(tidy[col], errors="coerce")

In [276]:
# rename the field column to the OID column
tidy = tidy.rename(columns={"TotIndivd": "TotPop", "TotalHH": "TotHH", "survey": "SurveyRound", "meanLat": "lat", "meanLong": "lon","survey_date": 'SurveyDate'})

# rearrange the columns in the dataframe
tidy = tidy[["SiteID", "SiteName", 'RegionName','OpenDate', 'CloseDate','SurveyRound', 'SurveyDate', 'SiteType','IsSiteOpen', 'TotPop', 'TotHH','DispReason', 'lat', 'lon']]

In [277]:
# Optional: sort for convenience
tidy = tidy.sort_values(["SiteID", "SurveyDate"])

In [278]:
tidy

field,SiteID,SiteName,RegionName,OpenDate,CloseDate,SurveyRound,SurveyDate,SiteType,IsSiteOpen,TotPop,TotHH,DispReason,lat,lon
0,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R11,2018-05-09,Collective Center,Yes,6355.0,1816.0,Conflict,8.980229,38.756166
1,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R12,2018-07-22,Collective Center,Yes,6490.0,1854.0,Conflict,8.980229,38.756166
2,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R13,2018-09-18,Collective Center,Yes,6490.0,1854.0,Conflict,8.980229,38.756166
3,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R14,2018-11-20,Collective Center,Yes,6583.0,1854.0,Conflict,8.980229,38.756166
4,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R15,2019-01-05,Collective Settlement/Centre,Yes,7370.0,1854.0,Conflict,8.980229,38.756166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32183,TG994,Metkel Limat,Tigray,2020-12-15,2023-08-28,R33,2023-06-18,Host community/families,Yes,80.0,37.0,Conflict,13.230100,39.168500
32184,TG995,Hadinet,Tigray,2021-03-19,2023-08-25,R33,2023-06-19,Host community/families,Yes,469.0,149.0,Conflict,13.139300,39.107800
32185,TG996,Dekera,Tigray,2020-12-15,2023-08-28,R33,2023-06-19,Host community/families,Yes,159.0,53.0,Conflict,13.211600,39.112300
32186,TG997,Wemberta Adeke Ala,Tigray,2020-12-20,2023-08-21,R33,2023-06-22,Host community/families,Yes,307.0,92.0,Conflict,13.325500,39.283900
32187,TG999,Hadinet,Tigray,2022-09-04,2023-08-13,R33,2023-06-23,Host community/families,Yes,163.0,61.0,Conflict,13.698500,39.208400

In [279]:
# export to csv for Morgan
tidy.to_csv(data_processed/"idp_sites_long.csv", index=False)

In [280]:
# Drop rows with no date or no population (for animation)
if "SurveyDate" in tidy.columns and "TotPop" in tidy.columns:
    tidy = tidy.dropna(subset=["SurveyDate", "TotPop"])

In [281]:
tidy

field,SiteID,SiteName,RegionName,OpenDate,CloseDate,SurveyRound,SurveyDate,SiteType,IsSiteOpen,TotPop,TotHH,DispReason,lat,lon
0,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R11,2018-05-09,Collective Center,Yes,6355.0,1816.0,Conflict,8.980229,38.756166
1,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R12,2018-07-22,Collective Center,Yes,6490.0,1854.0,Conflict,8.980229,38.756166
2,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R13,2018-09-18,Collective Center,Yes,6490.0,1854.0,Conflict,8.980229,38.756166
3,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R14,2018-11-20,Collective Center,Yes,6583.0,1854.0,Conflict,8.980229,38.756166
4,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R15,2019-01-05,Collective Settlement/Centre,Yes,7370.0,1854.0,Conflict,8.980229,38.756166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32183,TG994,Metkel Limat,Tigray,2020-12-15,2023-08-28,R33,2023-06-18,Host community/families,Yes,80.0,37.0,Conflict,13.230100,39.168500
32184,TG995,Hadinet,Tigray,2021-03-19,2023-08-25,R33,2023-06-19,Host community/families,Yes,469.0,149.0,Conflict,13.139300,39.107800
32185,TG996,Dekera,Tigray,2020-12-15,2023-08-28,R33,2023-06-19,Host community/families,Yes,159.0,53.0,Conflict,13.211600,39.112300
32186,TG997,Wemberta Adeke Ala,Tigray,2020-12-20,2023-08-21,R33,2023-06-22,Host community/families,Yes,307.0,92.0,Conflict,13.325500,39.283900
32187,TG999,Hadinet,Tigray,2022-09-04,2023-08-13,R33,2023-06-23,Host community/families,Yes,163.0,61.0,Conflict,13.698500,39.208400

### Convert to GeoPandas GeoDataFrame and Export as a GeoJSON

In [282]:
# convert to geopandas geodataframe
camps = gpd.GeoDataFrame(tidy,
                         geometry = gpd.points_from_xy(tidy["lat"], tidy["lon"]),
                         crs = "EPSG:4326").drop(columns = ['lat', 'lon'])

In [283]:
# view the first row of the dataframe
camps.head(1)

field,SiteID,SiteName,RegionName,OpenDate,CloseDate,SurveyRound,SurveyDate,SiteType,IsSiteOpen,TotPop,TotHH,DispReason,geometry
0,AA101,Gotara,Addis Ababa,2017-09-22,2019-07-13,R11,2018-05-09,Collective Center,Yes,6355.0,1816.0,Conflict,POINT (8.98023 38.75617)

In [284]:
# export as a geojson
camps.to_file(data_processed/"idp_sites_lon_wgs1984.geojson", driver = "GeoJSON")